body{
background: #D3D3D3;
}

.texto-teste{
	display: block;
	font-size: 20px;
	text-align: center;
	font-family: times new roman;
}
.botao2{
	display: block;
	text-align: center;
	transform: translateY(1000%);

}
.botao{
	width: 100%;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
    font-family: times new roman;
    font-weight: bold;
}

